<h1>Hi <%= @user.first_name %>,</h1>

<p>
Please click this link to reset your account.
  <%= link_to( reset_password_url(@user.password_change_token), reset_password_url(@user.password_change_token)) %>
Please note this link is only valid till 3 hours.
</p>
