<% #FIXME_AB: merge _alert and _notice and make only one _flash which will show all three -%>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>
<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if flash[:errors] %>
  <p class="alert alert-danger"><%= errors %></p>
<% end %>
