  <tr data-behaviour="lineitem_row">
  <td>1</td>
  <td><%= line_item.deal.title %></td>
  <td><%= number_to_currency(line_item.deal.discounted_price, unit: "Rs")  %></td>
  <% #FIXME_AB: url helper -%>
  <td data-behaviour= "deletelineitem"><%= link_to "delete", orders_remove_item_path(line_item: line_item.id), class: "btn btn-sm btn-danger", format: :json, method: :post, remote: true %>
  </td>
</tr>
