<li class="row">
  <span class="quantity">1</span>
  <span class="itemName"><%= line_item.deal.title %></span>
  <span class="popbtn"  data-parent="#asd" data-toggle="collapse" data-target="#demo"><a class="arrow"></a></span>
  <span class="price"><%= line_item.deal.price %></span>
</li>
