<%= render @order %>
<div class = "row">
  <div class="text-left col-md-6">
    <% #FIXME_AB: better to use do end  -%>
    <%= link_to deals_path do %>
    <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Back to deals
    <% end %>
  </div>
  <div class="text-right col-md-6">
    <% #FIXME_AB: buynow_or_expired_button(@deal) -%>
    <%= pay_now_button(@order) %>
  </div>
</div>
