<h1>Orders#show</h1>
<p>Find me in app/views/orders/show.html.erb</p>
<div class="col-md-7 col-sm-12 text-left">
  <ul>
    <li class="row list-inline columnCaptions">
      <span>QTY</span>
      <span>ITEM</span>
      <span>Price</span>
    </li>
    <%= render partial: 'orders/line_item', collection: @order.line_items %>
  </ul>
</div>
<% content_for :head do %>
  <%= stylesheet_link_tag 'orders' %>
<% end %>
