development:
  default_email_from: radhika@vinsol.com
  verification_token_expiration_time: 6

test:
  default_email_from: radhika@vinsol.com
  verification_token_expiration_time: 5

production:
  default_email_from: radhika@vinsol.com
  verification_token_expiration_time: 4
